/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
html, body {
    height: 100%;
    margin: 0;
}
nav {
    display: flex;
    background-color: teal;
    height: 50px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.home-ul {
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 40px;
}
.other-ul {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
li {
    display: flex;
    background-color: whitesmoke;
    border-radius: 20%;
    padding: 5px;
    width: auto;
    margin: 10px;
}
a:hover{
    color:teal;
}
header{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 60%;
    font-family: 'Krona One', sans-serif;
    background-color: blanchedalmond;
}
main {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 60%;
margin: auto;
padding: 10px;
height: auto;
}
p {
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 25px;
}
img {
    border-radius: 20px;
    margin: 5px;
    box-shadow: 5px 7px #2D3142;
}