Html {
	Height: 100%;
    Margin: 0;
    background-color: rgba(8, 7, 7, 0.151);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D3142;
    width: 100%;
}
h1 {
    font-family: 'Krona One', sans-serif;
}
h2 {
    font-family: 'Sree Krushnadevaraya', serif;
    width: 50%;
    align-items: center;
}
main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
p {
    font-family: 'Sree Krushnadevaraya', serif;
    width: 500px;
    align-items: center; 
}
img {
    width: 500px;
}
nav {
    display: flex;
    border: solid;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    background-color: #EF8354;
}
.nav {
    text-decoration: underline;
}
a:hover{
    color:white;
}
.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sree Krushnadevaraya', serif;
}
table, td {
    width: 700px;
    border: solid 2px #2D3142;
    padding: 10px;
    margin: 10px;
    background-color: #EF8354;
    border-collapse: collapse;
}
td {
    text-align: center; 
}
button {
    color: whitesmoke;
    background-color: #2D3142;
}
button:hover {
    background-color: #EF8354
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}