Html {
	Height: 100%;
    Margin: 0;
    background-color: rgba(8, 7, 7, 0.151);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D3142;
    width: 100%;
}
h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 80px;
    height: 80px;
    margin-top: 6px;
}
h2 {
    font-family: 'Waiting for the Sunrise', cursive;
    width: 40%;
    align-items: center;
}
.hand-made-jewelry-shop {
    margin-left: 60%;
    color: rgb(18, 177, 163);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    background-color: rgb(119, 117, 108);
    font-family: 'Waiting for the Sunrise', cursive;
}
a {
    color: whitesmoke;
    font-size: 20px;
}
.nav {
    text-decoration: underline;
}
a:hover{
    color:rgb(18, 177, 163);
}
.products-title {
    display: flex;
    width: auto;
    justify-content: center;
    margin-left: 2.5%;
}
main {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    margin: 2% 20%;
}
img {
    width: 150px;
    height: 150px;
    transform: rotate(90deg);
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Sree Krushnadevaraya', serif;
    list-style-type: none;
}
li {
    border: solid;
    border-radius: 20px;
    width: 25%;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 5px 10px #2D3142;
    align-content: center;
}
li:hover {
    color: rgb(18, 177, 163);
}
button {
    background-color: #2D3142;
    color: #BFC0C0;
    border: solid;
    border-color: #2D3142;
    margin: 5px;
}
button:hover {
    color: rgb(18, 177, 163);
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}